.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1rem;
}

.tag {
    flex-basis: 24%;
    margin: 0.5rem 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid goldenrod;
}

.tag-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
}

.footer-button {
    padding: 0.2rem 1rem;
    border: 1px solid #ccc;
    cursor: pointer;
}
